/* custom styles */


body {

}


header {
	height: 14em;
	background-color: lightgray;
	/*background-image: url("http://i.imgur.com/agqb4rd.jpg");*/
}

#headerPhoto {
	max-width: 100%;
	position: relative;
}
#my-name {
	position: absolute;
	height: 3em;
	top: 1.8em;
	background-color: #ddd;
	padding: 2em;
	text-align: center;
	border-radius: 0 10px 10px 0;

}

#yasuPhoto {
	height: 4em;
	width: 4em;
	border-radius: 10px;
	margin: 0 40%;
	margin-top: 2em;
	display: inline-block;
	color: #444;

}

h1 {
	display: inline-block;
	margin-left: 15%;
}

#contents {
	width: 90%;
	margin: 0 auto;
}

.slide {
	width: 20%;
	height: 20%;
}

#carousel-example-generic {
	width: 100%;
}

a {
	text-decoration: none;
}

.projectLinks {
	width: 45%;
	height: 10em;
	background-color: #CDEAC0;
	display: inline-block;
	margin: 1em auto;
	text-align: center;
	padding-top: 4em;
	margin-left: .8em;
}

#headerNav div {
 margin: 0 1em;
 margin-left: 1.5em;
 float:right;
}


/*#headerNav div li {
	display: inline-block;
}*/
