/* custom styles */


body {
	font-family: 'Space Mono', monospace;;
	background-color: #E5FCFF;
}


header {
	height: 14em;
	background-color: lightgray;
	/*background-image: url("http://i.imgur.com/agqb4rd.jpg");*/
}
#wrapper-head {
	background-color: #BEE3DB;
}

#headerPhoto {
	max-width: 100%;
	position: relative;
	opacity: 1;
	transition-property: opacity;
	transition-duration: .5s;
	z-index: 0;
}

#headerPhoto:hover {
	opacity: 1;
}

.mainP {
	max-width: 50%;
	margin-left: 5em;
	position: relative;
	padding-top: 2em;
	padding-bottom: 2em;
}

#my-name {
	position: absolute;
	opacity: 0;
	top: 4em;
	background-color: #ddd;
	padding: .5em;
	text-align: center;
	border-radius: 0 10px 10px 0;
	font-size: 4em;
	font-weight: bold;
	transition-property: opacity color;
	transition-duration: .5s;
	z-index: 1000;
	color: #ddd;
}

#my-name:hover {
	opacity: 1;
	color: #222;
	font-size: 2.7em;
}

/*#about-me {
	position: absolute;
	background-color: #ddd;
	padding: .5em;
	text-align: center;
	font-size: 2.5em;
	top: .6em;
	right: 0;
	border-radius: 10px 0 0 10px;
	z-index: 1000;
	color: #ddd;
	transition-property: opacity color;
	transition-duration: .5s;
	opacity: .3;
}*/

#about-me:hover {
	opacity: 1;
	color: #222;
}


/*#yasuPhoto {
	opacity: 0;
	width: 25%;
	border-radius: 30px;
	margin: 10% 40% 20% 60%;
	position: absolute;
	left: 3em;
	color: #444;
	top: 5em;
	display: absolute;

	transition-duration: .5s;
}

#yasuPhoto:hover {
	opacity: 1;
}*/

#yasuHeadShot {
	opacity: 1;
	width: 25%;
	border-radius: 40px;
	margin: 10% 40% 0 60%;
	position: absolute;
	left: 3em;
	color: #444;
	top: 5em;
	display: absolute;
	/*transition-property: opacity color;*/
	transition-duration: .5s;
}

#page-wrapper {
	width: 90%;
	margin: 0 auto;
	/*background-color: #F7FFDD;*/
}

h1 {
	display: inline-block;
	margin-left: 15%;
}

#contents {
	width: 90%;
	margin: 0 auto;
}

.slide {
	width: 20%;
	height: 20%;
}

#carousel-example-generic {
	width: 100%;
}

a {
	text-decoration: none;
	color: #aaa;
}

a:hover {
	text-decoration: none;
}
.projectLinks {
	width: 20%;
	height: 10em;
	background-color: #56A4D8;
	display: inline-block;
	margin: 1em auto;
	text-align: center;
	padding-top: 1em;
	margin-bottom: 3em;
	margin-left: 2em;
	font-size: 1.5em;
	font-weight: bold;
	border-radius: 10px;
	color: #fff;
}

.projectLinks:hover {
	background-color: #0094FF
}

.portfolioLinks {
	color: #fff;
}

#portfolioTitle {
	background-color: #56A4D8;
	color:#fff;
	height: 2em;
	font-size: 4em;
	text-align: center;;
	padding-top: .2em;
}

.projectInfo {
	font-size: .6em;
	padding-top: .7em;
}

#headerNav div {
 margin: 0 1em;
 margin-left: .5em;
 float:right;
}

h1 {
	font-size: 3.5em;
}

.icons {
	width: 10%;
	left:3em;
}

.hcj-icons {
	width: 40%;
}

.email-logo {
	width: 35%;
}

.linkedin-logo {
	width:16%;
}

.github {
	width: 60%;
}
footer {
	display: inline;
}
/*#headerNav div li {
	display: inline-block;
}*/
